<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="module" src="public/js/script.js"></script>
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <div id="mainContainer">
        <div id="nav">
            <li><a href="/user/register">sign up</a></li>
            <li><a href="/user/login">log in</a></li>
            <li><a href="/user/logout">log out</a></li>
        </div>
        <div id="search">
            <input type="text" placeholder="Search">
            <!-- <select class="search_type" name="select" id="select"> -->
            <!-- <option value="all">All Results</option>
                <option value="paintings">Paintings</option>
                <option value="photographs">Photographs</option>
                <option value="drawings_prints">Drawings and Prints</option>
                <option value="sculpture">Sculptures</option>
                <option value="other">Everything Else</option> -->
            <!-- </select> -->
            <button id="searchBtn">Search</button>
        </div>
        <div id="resultsContainer">

        </div>
    </div>
</body>

</html>